.gallery {
    display: grid;
    height: 80vh;
    grid-template-columns: repeat(4,1fr);
    gap: 0.5rem;
    margin: 0 10%;
    margin-left: 12%;
}

#gallery-video {
    width: 100%;
    height: 120%;
    grid-column-start: 2;
    grid-column-end: 4;
    position: relative;
    bottom: 45px;
}

.gallery-photos > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin: 0;
}

.gallery-photos1 img {
    object-fit: cover;
    width: 100%;
    height: 80%;
    margin: 0;
}

.gallery-photos2 img {
    object-fit: cover;
    width: 100%;
    height: 120%;
    position: relative;
    bottom: 45px;
}
