body {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)), url(../Photos/felix-berger-90tbIHE2tDo-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
}

.header {
    min-height: auto;
    width: 100%;
    position: relative;
}

nav {
    display: flex;
    padding: 1.5% 6%;
    justify-content: space-between;
    align-items: center;
}

    nav img {
        width: 250px !important;
        margin-top: 10px;
        filter: brightness(1.3);
        opacity: 0.8;
        transition: 1s ease;
        position: relative;
        right: 18px;
        border: none !important;
    }

        nav img:hover {
            opacity: 1;
            transition: 1s ease;
        }

.nav-links {
    flex: 1; /* take all the space in the row */
    text-align: right;
}

    .nav-links ul li {
        list-style: none;
        display: inline-block;
        padding: 8px 12px;
        position: relative;
        font-size: 24px;
    }

        .nav-links ul li a {
            color: #fff;
            text-decoration: none;
            font-size: 17px;
            font-family: Algerian;
        }

        .nav-links ul li::after {
            content: '';
            width: 0%;
            height: 2px;
            background: #f44336;
            display: block;
            margin: auto;
            transition: 0.5s;
        }

        .nav-links ul li:hover::after {
            width: 100%;
        }

.profile img {
    width: 40px;
    height: 40px;
}
